.navbar-container {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 56px;
    padding: 10px;

    width: 100% !important;
    
    height: 70px;
    padding:0 10px !important;

    background: linear-gradient(to right, #182848 , #4d75d4);
    color: #fff;
    z-index: 1000;  
    box-shadow: none;  
   font-family: "Outfit sans-serif";

}

.link{
    text-decoration: none;
   list-style: none;
   color:#fff;
   
   
}
.logo{
    background-color: #fff;
   border-radius:10px ;
   display: flex;
   align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%; 
}

h3 {
    font-size: 24px;
    margin: 0;
    color: #fff;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
   
}

.menu ul li {
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    font-weight: 700;
    transition: transform 0.3s ease;
    cursor: pointer;
    position: relative;
}

.menu ul li .link:hover {
    transform: scale(1.2);
    color: aqua;
    
}
// .menu ul li .link:active::after {
//    content: "";
//    position: absolute;
//    left:0;
//    bottom:0;
//    width:100%;
//    height: 2px;
//    background-color: aqua;
// }

h2 {
    text-align: center;
    color: #333;
  }
  
  input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p {
    text-align: center;
    color: green;
  }
  