.reset-password-user {
    font-family: 'Outfit sans-serif';
    color: #2c3e50;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.9);
    margin-left: 38px;
    margin-top: 70px;
    
    h4 {
      font-size: 1.8rem;
      // margin-bottom: 20px;
      margin-right: 8px;
      color: #34495e;
      text-align: center;
    }
    .searclbl{
        font-size: 18px;
        margin-right: 8px;
    }
    .firsthead{
      
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between ;
        
    }
  
    .controls {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
  
      label {
        font-weight: bold;
        font-size: 20px;
        margin-right: 5px;
      }
  
      select, input {
        padding: 5px 10px;
        // border: 1px solid #34495e;
        border-radius: 5px;
      }
  
      
    }
    .searchinput{
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-self: end;
        border: none;
    }
    // #search{
    //     border-radius: 7px;
    //     border: 1px solid;
    //     height: 45px;
    // }
  
    .data-table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
  
      thead {
        background-color: #e9ebee;
        color: black;
       
  
        th {
          padding: 10px;
          text-align: left;
          border:   #34495e;
          font-weight: 600;
        }
      }
  
      tbody {
        tr {
          td {
            padding: 10px;
            border: 1px solid #34495e;
          }
  
          .active-status, .pending-status {
            padding: 5px 10px;
            border-radius: 20px;
            color: black;
            font-weight: bold;
            text-align: center;
            
            &.active-status {
              background-color: #fff;
            }
  
            &.pending-status {
              background-color: #fff;
            }
          }
  
          button {
            padding: 5px 10px;
            background-color: #2c3e50;
            color: #ecf0f1;
            border: none;
            border-radius: 5px;
            cursor: pointer;
  
            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  
    .pagination {
      display: flex;
    //   justify-content: center;
     justify-self: end;
      gap: 10px;
  
      button {
        padding: 5px 15px;
        border: 1px solid #1b1b1c;
        border-radius: 5px;
        background-color: #fff;
        color: #091214;
        font-weight: bold;
        cursor: pointer;
  
        &.active {
          background-color: #1684f1;
          color: black;
        }
  
        // &:hover {
        //   background-color: darken(#2c3e50, 20%);
        //   cursor: not-allowed;
        // }
      }
    }
  }
  