/* .App{
    margin: 0;
    padding: 0;
    width:100% !important;
    height: 100%;
    overflow: hidden; 
    background-color: #fff;
    color: #fff; 
} */
::-webkit-scrollbar {
    display: none;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    overflow-x: hidden;
  }